/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/* ROBOTO - GOOGLE FONTS */
@font-face {
  font-family: 'Roboto';
  font-weight: 200;
  font-display: swap;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');
}
/* GRAMERCY FINE - STATIC FONT FILES */
/* Thin */
@font-face {
  font-family: 'Gramercy Fine'; /* Note: Remove quotes around thin */
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Thin-Trial.woff2') format('woff2'); /* Update the URL */
}
/* Light */
@font-face {
  font-family: 'Gramercy Fine';
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Light-Trial.woff2') format('woff2');
}
/* Book */
@font-face {
  font-family: 'Gramercy Fine'; /* Note: Use normal for regular fonts */
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Book-Trial.woff2') format('woff2');
}
/* Regular */
@font-face {
  font-family: 'Gramercy Fine';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Regular-Trial.woff2') format('woff2');
}
/* Medium */
@font-face {
  font-family: 'Gramercy Fine';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Medium-Trial.woff2') format('woff2');
}
/* Bold */
@font-face {
  font-family: 'Gramercy Fine';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Bold-Trial.woff2') format('woff2');
}
/* Black */
@font-face {
  font-family: 'Gramercy Fine';
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Black-Trial.woff2') format('woff2');
}

/* GRAMERCY VARIABLE FONTS */

@font-face {
  font-family: 'Gramercy Variable';
  src: url('/fonts/ABCGramercyVariable-Trial.woff2') format('woff2-variations'),
    url('/fonts/ABCGramercyVariable-Trial.woff') format('woff-variations'),
    url('/fonts/ABCGramercyVariable-Trial.ttf') format('truetype-variations');
}

/* GRAMERCY Variable Settings */
/* wght - from 200 - 1000 */
/* opsz - from 12 - 72 */

/* GRAMERCY FEATURES: */
/* .my-text {
	font-feature-settings: "calt" 1, "liga" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1;
	font-variation-settings: "wght" 200, "opsz" 72;
} */

.my-variable-text {
  font-family: 'Gramercy Variable';
  /* For the ON HOVER effect */
  /* font-variation-settings: 'wght' 200, 'opsz' 50;
  transition: font-variation-settings 0.3s ease-out; */
}
/* ON HOVER EFFECT */
/* .my-variable-text:hover {
  font-variation-settings: 'wght' 800, 'opsz' 72;
} */

/* To make a FALLBACK STATIC FONT: */
/* .font-page {
  font-family: 'Gramercy Variable', 'Gramercy Fine', Georgia, serif;
} */
