/* Variable Font Imports */
/* Gramercy Fine */
/* Thin */
@font-face {
  font-family: 'Gramercy Fine'; /* Note: Remove quotes around thin */
  font-weight: 100;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Thin-Trial.woff2') format('woff2'); /* Update the URL */
}

/* Light */
@font-face {
  font-family: 'Gramercy Fine';
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Light-Trial.woff2') format('woff2');
}
/* Book */
@font-face {
  font-family: 'Gramercy Fine'; /* Note: Use normal for regular fonts */
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Book-Trial.woff2') format('woff2');
}

/* Regular */
@font-face {
  font-family: 'Gramercy Fine';
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Regular-Trial.woff2') format('woff2');
}

/* Medium */
@font-face {
  font-family: 'Gramercy Fine';
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Medium-Trial.woff2') format('woff2');
}

/* Bold */
@font-face {
  font-family: 'Gramercy Fine';
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Bold-Trial.woff2') format('woff2');
}

/* Black */
@font-face {
  font-family: 'Gramercy Fine';
  font-weight: 900;
  font-display: swap;
  src: url('/fonts/ABCGramercyFine-Black-Trial.woff2') format('woff2');
}

@keyframes gramercy-animation {
  from {
    font-variation-settings: 'wght' var(--start-weight);
  }
  to {
    font-variation-settings: 'wght' var(--end-weight);
  }
}

.my-variable-text {
  font-family: 'Gramercy Fine';
  --start-weight: 100; /* Define the starting font weight */
  --end-weight: 900; /* Define the ending font weight */
  transition: font-variation-settings var(--animation-duration) ease;
  animation-name: gramercy-animation;
  animation-duration: var(--animation-duration);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Define animation duration as a variable */
:root {
  --animation-duration: 1.5s;
}
